/*********
General
********/

* {
    box-sizing: border-box
}

body {
	font-family: 'Hind', sans-serif;

 }
 .column-container{
   font-size: 0;
   padding: 0;
 }

 .column-container > * {
  	display: inline-block;
    vertical-align: top;
    font-size: medium;
  }
img{
  width: 100%;
}

/******************
Navigation Menu-Mobile
  ******************/
  .navbar-mobile .ion-drag {
      font-size: 32px;
  }

.navbar-mobile  div:hover {
background-color: #C3BEBB;
}
.nav-element {
  display: inline-block;
  background-color: #F0EEEC;
  width: 25%;
  line-height: 70px;
  font-size: 16px;
  font-weight: 900;;
  border-right: 1px solid #ddd;
  text-align: center;
}

.navbar-mobile img {
  max-width: 40px;
  margin: auto;
  }

.navbar-mobile-dropdown {
  display: inline-block;
  padding-top: 100px;
  padding-bottom: 10px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  width: 100%;
}
.navbar-mobile-dropdown ul{
  display: inline-block;
  width: 100%;
}

.navbar-mobile-dropdown li {
    margin-left: 10px;
    display: inline-block;
}
.navbar-mobile-dropdown .ion-ios-arrow-down{
    color: #fff;
    font-size: 30px;
    width: 25%;
    padding-right: 30px;
}

.navbar-fixed-left {
  display: none;
}
.navbar-dropdown-fullsize {
  display:none;
}

/******************
  Images-body

  <!-- Used class demo as a guideline: https://github.com/tiy-chs-demos/2017-01-19-warmup-responsive-dashboard -->

  ******************/

  .image-stack div {
    display: inline-block;
    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    color: #fff;
  }

  .column-container img {
    font-size: 0;
    padding: 0;
    position: relative;
  }

  .image-stack .overlay{
    position: relative;
    top: 50%;
    left: 50%;
    font-weight: 500;
  }



  /******************
  Media Screen
    ******************/

  @media screen and (min-width: 768px){
      .navbar-fixed-top {
        display: none;
      }

      .navbar-mobile-dropdown {
        display: none;
      }
      .navbar-dropdown-fullsize {
        display:inline-block;
        width: 80%;
        position:fixed;
        top: 0;
        right: 0px;
        background-color: #000;
        color: #fff;
        padding: 20px;
        font-size: 16px;
        width: 80%;
      }
      .navbar-dropdown-fullsize  li:hover {
      color: #C3BEBB;
      }

      .navbar-dropdown-fullsize li {
        padding-left: 40px;
      }
      .navbar-fixed-left {
        display: block;
      }

      .navbar-fixed-left .nav2-element {
        max-width: 100%;
        height: 100%;
      }

      .image-stack div {
        width: 50%;
      }

      .header div{
        display: inline-block;
      }

      .logo img {
        display: block;
        max-width: 250px;
        margin-left: 0;
      }

      .logo {
        width:50%;
        align-items: baseline;
      }

      .nav-container {
        display: inline-block;
      }

      /******************
      Navigation Menu-left fixed
        ******************/
      .navbar-fixed-left {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 20%;
        box-shadow: 3px 0px rgba(209, 208, 207, 0.5);

      }

      .nav2-element {
        display: block;
        background-color: #F0EEEC;
        width: 100%;
        line-height: 70px;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 1px;
        border-right: 1.5px solid #ddd;
        border-bottom: 1.5px solid #ddd;
        margin-left: auto;
        margin-right: auto;
        line-height: 2.5em;
        padding: 30px;
        text-align: center;
      }
      .sidebar {
        max-width: 20%;
      }
      .logo-box  {
        padding-bottom: 75px;
      }

      .bottom-box  {
        padding-top: 75px;
        padding-bottom: 30px;
        line-height: 1.5em;
      }
      .navbar-fixed-left  div:hover {
      background-color: #C3BEBB;
      }

      .social-media {
        letter-spacing: 7px;
      }
	}
