/*********
General
********/

* {
    box-sizing: border-box
}

body {
	font-family: 'Hind', sans-serif;

 }
 .column-container{
   font-size: 0;
   padding: 0;
 }

 .column-container > * {
  	display: inline-block;
    vertical-align: top;
    font-size: medium;
  }
img{
  width: 100%;
}

/******************
Navigation Menu-Mobile
  ******************/
  .navbar-mobile {


  }
.nav-element {
  display: inline-block;
  background-color: #F0EEEC;
  width: 25%;
  line-height: 70px;
  margin: auto;
  font-size: 18px;
  font-weight: 400;
}

  .navbar-mobile img {
    max-width: 40px;
    margin:auto;

  }

.navbar-mobile-dropdown {
  padding-top: 100px;
  padding-bottom: 25px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
}
.navbar-mobile-dropdown ul{
  display: inline-block;
  width: 75%;
}
.navbar-mobile-dropdown .icon{
  display: inline-block;
  color: #000;
  font-size: 30px;
  width: 25%;
}


/******************
  Images-body
  ******************/

  .image-stack div {
    display: inline-block;
    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    color: #fff;
  }

  .column-container img {
    font-size: 0;
    padding: 0;
    position: relative;
  }

  .image-stack h5 {
    position: absolute;
    margin-top: -350px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
  }

  @media screen and (min-width: 768px){
      .image-stack div {
        width: 50%;
      }

      .header div{
        display: inline-block;
      }

      .logo img {
        display: block;
        max-width: 250px;
        margin-left: 0;
      }

      .logo {
        width:50%;
        align-items: baseline;
      }

      .nav-container {
        display: inline-block;
      }



	}
